
body {
    padding:20px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    margin:100px 0px;
}

.ignore {
    display: flex;
    flex-direction: column;
    margin:5px;
    align-items: center;
    justify-content: center;
}

.ignoreButton {
    margin:5px;
}

.included {
    background-color: grey;
}

.number {
    font-size: 5em;
    margin:20px;
    margin-bottom: 400px;
}

.key {
    font-size: 4em;
    margin:60px

}

.flexrow {
    display: flex;
    width:400px;
    align-items: center;
    justify-content: center;
    margin:5px;
}

select {
    margin-left:10px;
}

button {
    width:200px;
    font-size:1.3em;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%
}